<div class="hero">
  <div class="ptext dark">
    Sala de Juegos
  </div>
</div>

<h1 id="juegos">Juegos</h1>

<div class="game1">
  <div class="ptext bright">ANAGRAMA</div>
</div>
<p>
  El juego consiste en ordenar y escribir correctamente la palabra que se encuentra desordenada, si
  no se acierta no se suma puntos
</p>
<hr />

<div class="game2">
  <div class="ptext bright">
    ADIVINAR NUMERO
  </div>
</div>
<p>
  El juego consiste en descubir el numero secreto generado aleatoriamente. Se tienen 5 interntos
  para descubrirlo, si fallas en 5 intentos no se suma puntos
</p>
<hr />

<div class="game3">
  <div class="ptext">
    AGILIDAD ARITMETICA
  </div>
</div>
<p>
  Este juego consiste en realizar la mayor cantidad de cuentas matermaticas en el tiempo dado. Cada
  acierto suma un punto y resetea el timer, de no acertar no se suma punto
</p>
<hr />

<div class="game4">
  <div class="ptext bright">
    PIEDRA PAPEL Y TIJERA
  </div>
</div>
<p>
  Este es el clasico juego de pidra papel y tijera, haces la eleccion y luego elije la maquina. Si
  se gana se suma puntos, de empatar o perder no se suman puntos
</p>
<hr />

<div class="game5">
  <div class="ptext dark">
    TA TE TI
  </div>
</div>
<p>
  Este juego es el ta te ti, consiste en unir 3 cuadrados con X u O. El jugador logueado siempre es
  la X y comienza jugando, de perder no se suma puntos
</p>
<hr />

<div class="game6">
  <div class="ptext bright">
    MEMORY TEST
  </div>
</div>
<p>
  Este juego consiste en encontrar los 4 pares, que es este caso son cartas, antes de que se acabe
  el tiempo. De perder no se suma punto
</p>
<hr />
<div class="footer"><p>Pagina diseñada por Nicolas A. Ferrero</p></div>
