<div class="grid">
  <ul>
    <li>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Adivinar el numero</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/adivinar_numero.jpg" />

        <mat-card-actions>
          <button
            class="btn"
            mat-stroked-button
            color="primary"
            (click)="playGame('adivinar-numero')"
          >
            Jugar
          </button>
        </mat-card-actions>
      </mat-card>
    </li>

    <li>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Agilidad mental</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/agilidad_ari.jpg" />

        <mat-card-actions>
          <button
            class="btn"
            mat-stroked-button
            color="primary"
            (click)="playGame('agilidad-mental')"
          >
            Jugar
          </button>
        </mat-card-actions>
      </mat-card>
    </li>

    <li>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Anagrama</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/anagram.png" />

        <mat-card-actions>
          <button class="btn" mat-stroked-button color="primary" (click)="playGame('anagrama')">
            Jugar
          </button>
        </mat-card-actions>
      </mat-card>
    </li>

    <li>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Memoria</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/memory.jpg" />

        <mat-card-actions>
          <button class="btn" mat-stroked-button color="primary" (click)="playGame('memoria')">
            Jugar
          </button>
        </mat-card-actions>
      </mat-card>
    </li>

    <li>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Piedra papel tijera</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/ppt.png" />

        <mat-card-actions>
          <button
            class="btn"
            mat-stroked-button
            color="primary"
            (click)="playGame('piedra-papel-tijera')"
          >
            Jugar
          </button>
        </mat-card-actions>
      </mat-card>
    </li>

    <li>
      <mat-card>
        <mat-card-header>
          <mat-card-title>Ta te ti</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/Tic_tac_toe.png" />

        <mat-card-actions>
          <button class="btn" mat-stroked-button color="primary" (click)="playGame('ta-te-ti')">
            Jugar
          </button>
        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</div>
